body {
    background: #eee;
    color: #444;
    font-family: 'Helvetica', arial, sans-serif;
  }
  
  .container {
    background: #fff;
    max-width: 600px;
    width: 100%;
    display: table;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #cfcbcc;
  }
  
  input {
    border: none;
    display: block;
    width: 98.4%;
    line-height: 1.5;
    padding: 8px 0 8px 10px;
    border-bottom: 1px solid #cfcbcc;
    outline: 0;
  }
  
  h1, h2 {
    text-align: center;
    margin-bottom: 0px;
    line-height: 1;
  }
  
  h2 {
    color: gray;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    color: #899098;
    font-weight: 400;
    border-bottom: 1px solid #cfcbcc;
    line-height: 1.5;
    padding: 8px 0;
  }
  ul li:before {
    content: "\25A1";
    padding: 10px 10px;
    font-size: 20px;
  }
  ul li:hover {
    text-decoration: line-through;
    cursor: pointer;
  }
  ul li:last-child {
    border-bottom: none;
  }
  .checked {
    color: green;
  }
  .checked:before {
    content: "\2713";
    padding: 10px 10px;
    font-size: 20px;
  }
  .checked:hover {
    text-decoration: none;
  }
  .checked:hover:after {
    content: " (double-click to remove)";
    color: grey;
    text-align: right;
  }
  
  .removeButton {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
  }

  .todo-task {
		background-color: #ccc;
		border-radius: inherit;
		box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
		margin: 0.5em 0;
		padding: 1.25em 1em 1em 2.5em;
		position: relative;
		
		@media screen and (max-width: 800px) {
			padding-top: 1.75em;
		}
	}

	.task-title {
		font-size: 20px;
		display: block;
		margin-top: 0;
		padding-bottom: 1.5em;
		width: 80%;
	}

	.toggle-complete,
	.remove {
		font-size: 12px;
		right: 1em;
    	line-height: 1;
		padding: 0.75em;
		position: absolute;
		width: 40px;
		height: 40px;
	}

	.toggle-complete {		
		background-color: #16d600;
		border-color: darken(#16d600, 10%);
		top: 1rem;
		
		/* &:hover {
			background-color: darken(#16d600, 10%);
		} */
	}
	
	.remove {
		background-color: #e20017;
		border-color: darken(#E20017, 10%);
		bottom: 1.5rem;
		margin-bottom: 0;
		
		/* &:hover {
			background-color: darken(#E20017, 10%);
		} */
	}