body {
  background: #eee;
  color: #444;
  font-family: cursive, sans-serif;
}

h1, h2 {
  text-align: center;
  margin-bottom: 0px;
  line-height: 1;
}

h2 {
  color: gray;
}

.container {
  background: #fff;
  max-width: 600px;
  /* width: 100%; */
  display: table;
  margin: auto;
  margin-top: 40px;
  border: 1px solid #cfcbcc;
}

.input-container {
  border: none;
  position: relative;
  width: 600px;
  display: inline-block;
  padding: 10px;
  border-bottom: 1px solid #cfcbcc;
  outline: 0;
}

input:focus {
  background-color: transparent;
  background: transparent;
  outline: none;
}

#new-item {
  border: none;
  display:inline-block;
  width: 450px;
}

#save {
  float: left;
  top: auto;
  position: relative;
}

#file-upload {
  width: 220px;
  float: right;
  position: relative;
}

#upload {
  float: right;
  top: auto;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #cfcbcc;
}

li {
  color: #899098;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 4px;
  position: relative;
  margin: 4px;
}

span {
  position: relative;
  top: auto;
  padding: 1px;
  font-size: 18px;
}

a:hover {
  text-decoration: line-through;
}

a.checked:hover {
  text-decoration: none;
}

a.checked {
  text-decoration: line-through;
}

.checked-button {
  padding: 0 3px;
}

.checked-button.checked {
  padding: 0 7px;
}

button {
  font-family: cursive, sans-serif;
}

input {
  font-family: cursive, sans-serif;
  border-bottom: none;
}

::-webkit-file-upload-button {
  font-family: cursive, sans-serif;
}

.remove-button {
  float: right;
  padding: 0 2px 0 10px;
}

.modify-button {
  float: right;
}

.move-up-button {
  float: right;
  padding: 0 2px;
}

.move-down-button {
  float: right;
  padding: 0 2px;
}

.color-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border: transparent;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  width: 15px;
}

select:focus {
  outline: none !important;
}

.color-select.none{
  border: 1px solid lightgrey;
}

.dummy-select {
  border: transparent;
  background: transparent;
  position: relative;
  padding: 0 10px;
  z-index: -1;
}

.red {
  background-color: lightcoral;
}
.yellow {
  background-color: lightyellow;
}
.green {
  background-color: lightgreen;
}
.blue {
  background-color: lightskyblue;
}
.gray {
  background-color: lightgray;
}
.none {
  background-color: white;
}

li.red {
  background-color: transparent;
  border: 1px solid lightcoral;
}

li.yellow {
  background-color: transparent;
  border: 1px solid lightyellow;
}

li.green {
  background-color: transparent;
  border:1px solid lightgreen;
}

li.blue {
  background-color: transparent;
  border: 1px solid lightskyblue;
}

li.gray {
  background-color: transparent;
  border: 1px solid lightgray;
}

li.none {
  background-color: transparent;
  border: 1px solid white;
}
